{% extends "::base.html.twig" %}

{% block title %}TvShowManagerBundle:TvShow:show{% endblock %}

{% block body %}
<h1>Welcome to the TvShow:show page</h1>
    <h1>{{ tv.name }}</h1>
    {% for e in tv.episodes %}
        <ul>
            <li>{{ e.name }}: <a href="{{ path('episode_delete', { 'idTvShow': tv.id, 'id': e.id }) }}">Supprimer</a></li>
        </ul>
    {% endfor %}

    <a href="{{ path('tvShow_delete_episodes', { 'idTvShow': tv.id }) }}">
        <h1 class="text-center red">Delete all</h1>
    </a>

{% endblock %}
